{% extends "_base2.html" %}
{% block bodyContent %}
    <a href="/administration/modules/" target="_self">Manage Modules</a> |
    <a href="/administration/terms/" target="_self">Manage Terms</a> |
    <a href="/administration/users/" target="_self">Manage Users</a> |
    <a href="/administration/prezis/" target="_self">Manage Prezis</a> |
    <a href="/administration/news/" target="_self">Manage News</a> |
    <a href="/administration/wikiwords/" target="_self">Wiki Words</a> |
    <a href="/administration/support/" target="_self">Support</a> |
    <a href="/administration/advanced/" target="_self">Advanced</a> |   
    <a href="/administration/pending/" target="_self">Proposed Contributions</a> |   
    <a href="/administration/upload/" target="_self">Upload Files</a>   
    {% block adminContent %}
    
    {% endblock %}

{% endblock %} 