{% extends "_base2.html" %}
{% block bodyContent %}

{% if error %}
		<p>{{error}}</p>
{% else %}

<div class="oneColumn">
	<div class="header">ABOUT WIKITHEORIA</div>
	<p>
		<strong>Wikitheoria</strong> is a new way to share and collaborate on researchable ideas in sociology. It uses a form of web-based crowd-sourcing. This means lots of people each contributing only a small effort to enhance whatever part of the system interests them the most.
		<ul>
			<li>It has peer-review, but nothing like the way journals do it.</li>
			<li>It has a library, but it bears no resemblance to static collections of published objects.</li>
			<li>It erases the boundaries between readers and contributors, instructors and students, insiders and outsiders. It democratizes theory.</li>
			<li>It sharpens the focus on what really matters: sharing ideas, and striving to improve them using a solid foundation of reason and evidence.</li>
			<li>It provides infrastructure for organizing the work of a virtually limitless number of contributors, and useful tools for making their work efficient and cumulative.</li>
		</ul>
		The long-run goal of Wikitheoria is to have a user-friendly, ever-improving, discipline-spanning, integrative and efficient, sociological knowledge base.
	</p>
	<p><center>-----</center></p>
	<p>
	   To learn more about Wikitheoria, please click on the short <strong>“Welcome”</strong> presentation on the home page. There is also a “Welcome” transcript available for downloading. Each will instruct you on how to proceed if you’re interested. 
	</p>
	<br />
	<hr>
	<span><strong>WHO WE ARE</strong></span> <br />
	<p>
		The Wikitheoria project is a collaboration between sociologists and computer scientists. The initial phase of the work (2012-2014) was supported by a grant from the National Science Foundation (#1123040). Key personnel are listed below.
	
	<blockquote>
	<table id="contactTable">
		<tr>
			<th colspan="2">Conceptualization & Content </th>
		</tr>
		
		<tr>
			<td>
				Prof. Barry Markovsky [<a href="mailto:barry@sc.edu">barry@sc.edu</a>] <br/>
		   		Principal Investigator<br/>
		   		Dept. of Sociology, Univ. of South Carolina <br/>
			</td>
			<td>
				Jake Frederick [<a href="mailto:jfrederick979@gmail.com">jfrederick979@gmail.com</a>]<br />
				Graduate Research Assistant <br />
				Dept. of Sociology, Univ. of South Carolina <br/>
		
			</td>
		</tr>
		
		<tr>
			<th colspan="2"> Functionality & Software Development </th>
		</tr>
			<td>
				Prof. Jose Vidal [<a href="mailto:jmvidal@gmail.com">jmvidal@gmail.com</a>] <br/>
		   		Co-Principal Investigator<br/>
		   		Dept. of Computer Science & Engineering <br/>
		   		University of South Carolina <br>
			</td>
			<td>
				Mingzhe Du (Daniel) [<a href="mailto:dan.du.pub@gmail.com">dan.du.pub@gmail.com</a>]<br />
				Graduate Research Assistant <br />
		   		Dept. of Computer Science & Engineering <br/>
		   		University of South Carolina <br>
		
			</td>
		</tr>
		<tr>
			<th colspan="2"> Additional Programming </th>
		</tr>		
		<tr>
			<td>
				Jason Rikard<br/>
		   		Undergraduate Assistant <br>
			</td>
			<td>
				Jonathan Mayhak<br/>
		   		Undergraduate Assistant<br>
		
			</td>
		</tr>		
	</table>
	</blockquote>
	
	
	
	</p>
	
	
</div>



{% endif %}
{% endblock %}
