{% extends "_base2.html" %}
{% block bodyContent %}

{% if error %}
        <p>{{error}}</p>
{% else %}

<div id="feedback">
        <form method="post" action="">
            <h2>Thank you for your interest in joining the Wikitheoria Project!</h2>
            <p>
                All content is publicly available, however, only approved users have the ability to submit
                materials and recommendations. 
            </p>
            <br>
            <p>
            	Please <a href="{{login_url}}">login yourself</a> with your Gmail account first, then submit the form below to obtain approval.
            </p>
          
            <br>
            <table>
                <tr>
                    <td>
                {% if name %}
                	Name:</td><td> <input type="text" name="name" value="{{alias}}" style="width: 400px;"></input>
                {% else %}
                	Name:</td><td> <input type="text" name="name" style="width: 400px;"></input>
                {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                {% if email %}
                	Email:</td><td> <input type="text" name="email" value="{{email}}" style="width: 400px;"></input>
                {% else %}
                	Email:</td><td> <input type="text" name="email" value="(Must be a Google Account)" style="width: 400px;"></input>
                {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                {% if organization %}
                	Organizational Affiliation:</td><td> <input type="text" name="organization" value="{{organization}}" style="width: 400px;"></input>
                {% else %}
                	Organizational Affiliation:</td><td> <input type="text" name="organization" value="" style="width: 400px;"></input>
                {% endif %}
                    </td>
                </tr>                
                <tr>
                    <td>
                {% if title %}
                	Title:</td><td> <input type="text" name="title" value="{{title}}" style="width: 400px;"></input>
                {% else %}
                	Title:</td><td> <input type="text" name="title" value="(e.g., Professor, CEO, Undergraduate Student)" style="width: 400px;"></input>
                {% endif %}
                    </td>
                </tr>                    
                <tr>
                    <td>
                    Note:</td><td> <textarea name="note" style="width: 400px; height: 100px"></textarea>
                    </td>
                </tr>
                <tr>
                <td></td>
                {% if isLoggedin %}
	                <td><input type="submit" value="Submit" /></td>
	            {% else %}
	            	<td><input type="submit" value="Submit" disabled/></td>
	            {% endif %}
                </tr>
            </table>
        </form>
    </div>

{% endif %}
{% endblock %}