{% extends "_admin_base.html" %}
{% block adminContent %}

{% if error %}
        <p>{{error}}</p>
{% else %}


    <div class="twoColumnRed">
        <div class="header">
            <h3>Manage Prezis (Under Contruction)</h3>
        </div>
		
		<form method="post">
		        
        <table id="tblPrezis">
        <tr>
        	<th colspan="2">Prezi 1</th><th colspan="2">Prezi 2</th>
        </tr>
        <tr>
        	<th>Title:</th><td><input type="text" size="50" name="title1" value="{{title1}}" /></td>
        	<th>Title:</th><td><input type="text" size="50" name="title2" value="{{title2}}" /></td>
        </tr>
        
        <tr>
        	<th>Pic1:</th><td><input type="text" size="50" name="pic1" value="{{pic1}}" /></td>
        	<th>Pic2:</th><td><input type="text" size="50" name="pic2" value="{{pic2}}" /></td>
        </tr>
        
        <tr>
        	<th>Link:</th><td><input type="text" size="50" name="link1" value="{{link1}}" /></td>
        	<th>Link:</th><td><input type="text" size="50" name="link2" value="{{link2}}" /></td>
        </tr>
        <tr>
        	<th colspan="2">Prezi 3</th><th colspan="2">Prezi 4</th>
        </tr>
        <tr>
        	<th>Title:</th><td><input type="text" size="50" name="title3" value="{{title3}}" /></td>
        	<th>Title:</th><td><input type="text" size="50" name="title4" value="{{title4}}" /></td>
        </tr>
        <tr>
        	<th>Pic3:</th><td><input type="text" size="50" name="pic3" value="{{pic3}}" /></td>
        	<th>Pic4:</th><td><input type="text" size="50" name="pic4" value="{{pic4}}" /></td>
        </tr>
        <tr>
        	<th>Link:</th><td><input type="text" size="50" name="link3" value="{{link3}}" /></td>
        	<th>Link:</th><td><input type="text" size="50" name="link4" value="{{link4}}" /></td>
        </tr>
        <tr>
        <td colspan="4"><input type="submit" value="Update"></td>
        </tr>
        </table>
        </form>
    </div>

{% endif %}
{% endblock %}