{% extends "_base2.html" %}
{% block bodyContent %}

{% if error %}
		<p>{{error}}</p>
{% else %}

{% if module_error %}
		<p>{{module_error}}</p>
{% else %}

<script type="text/javascript" src="/static/js/modules/newModule.js"></script>
<script>
function showSth(){
	$('#displayInfo').append("<div class='hintInf'> Since modifications can only be made to the most up-to-date version of a module, keep in mind that you may need to reenter your modifications to the newest version of this module in the event that a newer version is published after you begin your modifications. Your saved work on a module that becomes “obsolete” will be moved to the “archived contributions” section of the “my work” page. From here you can still access it, but you cannot submit your modifications for publication unless you reenter them on the newest version of the module. </div>");
	$('.hintInf').mouseleave(function(){$(this).fadeOut(800);});
	
}
 
</script>


<div id="moduleWrapper">
	<div class="module">
			<div class="header">
				<span class="title"><a href="javascript:void(0)" target="_self">{{module_title_general}}</a></span>
				<br />Version: {{module_version}}
				{% if show_hint == True and module_status !='archived' %}
				<br /><span style="color:red">Warning: Another user’s suggested modifications for this module currently are under review<a href="javascript:showSth()"><sup>?</sup></a>. </span>
				<div id="displayInfo"></div>
				{% else %}
				{% endif %}

			</div>
			{% if module_keywords_general %}
			<h3 class="sectionHeader">Key Words:</h3>
			<div class="generalContent">{{module_keywords_general}}</div>			
			{% endif %}
			
			{% if html == 'none' %}
			<h3 class="sectionHeader" style="display:none">Background / Metatheory:</h3>
			<div class="generalContent" style="display:none"></div>
			{% else %}
			<h3 class="sectionHeader">Background / Metatheory:</h3>
			<div class="generalContent">{{html}}</div>
			{% endif %}
			
			{% if terms %}
			<div class="terms">
				<h3 class="sectionHeader">Terms & Definitions:</h3>
				<ul>
					{% for x in terms %}
						<li><a href="/terms/{{x.term.slug}}">{{x.term.word}}</a> - {{x.definition.definition}}</li>
					{% endfor %}
				</ul>
			</div><!-- end terms -->
			{% endif %}
			
			{% if module_scope_general %}
			<div class="scope">
				<h3 class="sectionHeader">Scope Conditions:</h3>
				<ol>
						{% for scope in module_scope_general %}
							<li>{{scope}}</li>
						{% endfor %}
				</ol>
			</div><!-- end scope -->
			{% endif %}
			
			{% if module_propositions_general %}
			<div class="propositions">
				<h3 class="sectionHeader">Propositions:</h3>
				<ol>
					{% for prop in module_propositions_general %}
						<li>{{prop}}</li>
					{% endfor %}
				</ol>
			</div><!-- end propositions -->
			{% endif %}
			
			{% if module_derivations_general %}
			<div class="derivations">
				<h3 class="sectionHeader">Derivations:</h3>
				<ol>
					{% for deriv in module_derivations_general %}
						<li>{{deriv}}</li>
					{% endfor %}
				</ol>
			</div><!-- end derivations -->
			{% endif %}
			
			{% if module_evidence_general %}
			<div class="evidence">
				<h3 class="sectionHeader">Evidence:</h3>
				<div>{{module_evidence_general}}</div>
			</div><!-- end evidence -->
			{% endif %}
	</div>
</div>				
		


<div class="module_sideBar">
	<div class="header">
		Title: <a href="javascript:void(0)" target="_self">{{module_title_general}}</a><br />
		Version: {{module_version}} / {{module_newest_version}}<br />
		 
		<form method="post" action="">
		
			{% if module_version > module_newest_version or module_version == 0 %}
				
			
			{% else %}
					History: <select name="version">
				{% for version in versions %}
				    <option value="{{version}}">{{version}}</option>
				{% endfor %}
				</select>
				<input type="submit" value="Go" />			
			
			{% endif %}
			


			
			
			<input type="hidden" id ="modID" name="module_version_uid" value="{{module_uid}}" />
			<input type="hidden" id ="modVER" value="{{module_version}}" />
			<input type="hidden" id ="modKEY" value="{{module_key}}" />
		</form>
	</div>
	<br />		
	<div class="intro">
		<div class="metaData">
			<span class="descriptor">Original Contributor:</span><br /> <a href="/users/{{module_contrubutor_original.uid}}/" target="_self">{{module_contrubutor_original.alias}}</a> <br />
			<span class="descriptor">Latest Contributor:</span><br /> <a href="/users/{{module_contrubutor_general.uid}}/" target="_self">{{module_contrubutor_general.alias}}</a> <br />
			<br />
			<span class="descriptor">Updated:</span> {{module_last_update_general}}
			
			{% if module_newest_version == 0 or module_version > module_newest_version %}
			<span class="descriptor">Status: Proposing</span> 
			{% elif module_status == 'archived' %}
			<span class="descriptor">Status: Archived</span>
			{% else %}
			{% endif %}
			
		</div><br class="clear" />
	</div>
	
	<div class="toolkit">
		<div>
		
			{% if contributing_user %}
				{% if module_version > module_newest_version or module_version == 0 %}
					<img src='/static/images/toolkit.jpg' style="width:20px"/><br/>
			 		[<a href="{{module_edit_url}}" target="_self">Edit</a>]
			 		[<a href="javascript:sendForm()" target="_self">Send for Approval</a>]<br /><br/>
			 		[<a href="javascript:discardDraft()" target="_self">Discard Draft</a>]<br />
			 	{% elif module_version == module_newest_version and module_status != 'archived' %}
			 		<img src='/static/images/toolkit.jpg' style="width:20px"/><br/>
			 		[<a href="{{module_edit_url}}" target="_self">Suggest Modifications</a>]<br />
			 	{% elif module_status == 'archived'%}
					<img src='/static/images/toolkit.jpg' style="width:20px"/><br/>
			 		[<a href="javascript:discardDraft()" target="_self">Discard Draft</a>]<br />			 	
			 	{% else %}	
			 	{% endif %}
			 
			{% else %}
			</ul>
			{% endif %}
			
		
		</div>
	</div>
		
</div>	
{% endif %}	
{% endif %}
{% endblock %}
