{% extends "_base2.html" %}
{% block bodyContent %}
<div class="term">
	{% if message %}
		<p>{{message}}</p>
	{% endif %}
	<h2>Add definition to an existing term</h2>
	<form method="post" action="">
	<table>
		<tr>
			<td>Term:</td><td>{{term}}</td>
		</tr>
		<tr>
			<td>Define:</td>
			<td><input name="definition" type="text" style="width: 450px" /></td>
		</tr>
	</table>
	<input name="Submit1" type="submit" value="Define" />
	<input type="hidden" name ="slug" value="{{slug}}" />
</form>
<h3>Existing Definitions</h3>

</div><!-- end term -->

{% endblock %}