{% extends "_base2.html" %}
{% block bodyContent %}

<style>
.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
 */
* html .ui-autocomplete {
  height: 100px;
}
</style>

<div class="subHead"><h1>New Module</h1></div>
<div id="moduleForm">
	<table>
		<tr>
			<td class="title">Title: </td><td><input name="title" id="title" type="text" value="" size="100" /></td>
		</tr>
		<tr>
			<td class="title">Key Words: </td>
			<td>
				<input id="keywords" name="keywords" type="text" value="" size="100" />
			</td>
		</tr>
	</table>
	<br />
		<form name="myform">
		<strong>Background / Metatheory:</strong> <font size="1">You have <input readonly type="text" name="countdown" size="3" value="2000"> characters left.(Maximum characters: 2000)</font>
			  <div id="wmd-button-bar" class="wmd-panel"></div>
		      <br/>
		      <textarea id="wmd-input" class="wmd-panel" name="limitedtextarea" onKeyDown="limitText(this.form.limitedtextarea,this.form.countdown,2000);" 
onKeyUp="limitText(this.form.limitedtextarea,this.form.countdown,2000);" cols="" rows=""></textarea>
		      <br/>
		      Preview:
		      <div id="wmd-preview" class="wmd-panel"></div>
		      
		      <br/>
		</form>      
	<p class="title">Terms & Definitions: </p>	
	<table id="terms_new_module">	
		<tr>
		
			<td><strong>Term:</strong><input type="text" name="termlist" id="termlist"/>
				<span id="hint"></span>
			</td>
			
		</tr>
		<tr>
			<td id="termResults">
			</td>
		</tr>
		<tr>	
			<td>
			<ul id="termList">
			</ul>
			</td>
		</tr>
	</table>
		      

	<table>
		<tr><td class="title">Scope Conditions: </td>
		<td>
			<ol id="scope">
				
			</ol>
			<input type="button" value="+" onclick="addScope()" />
		</td></tr>
	</table>

	<table>
		<tr>
			<td class="title">Propositions: </td>
			<td>
				<ol id="proposition">
					
				</ol>
				<input type="button" value="+" onclick="addProposition()") />
			</td>
		</tr>
		<!-- Not ready -->
		<tr>
			<td class="title">Derivations: </td>
			<td>
				<ol id="derivation">
					
				</ol>
				<input type="button" value="+" onclick="addDerivation()") />
			</td>
		</tr>
				
		<tr>
			<td class="title">Evidence: </td>
			<td>
				<div id="evidence">
				
				
				
				
				</div>
				
				<div id="here">
				<input type="button" value="+" onclick="addEvidence()" id="evidBtn" />
				</div>
				
			</td>
		</tr>		

	</table>
	<br />
	<br />
	
	
</div>
<div id="buttons">
<button onclick="enableSubmit()" id="readyBtn">Ready?</button>
<button name="btnSubmitModule" onclick="submitForm('false','new')" value="Save" id="submitBtn" disabled>Save</button>
<button name="btnSend" onclick="sendForm()" value="Send" id="sendBtn" disabled>Send for Approval</button>
<span id="btnInfo"></span>
</div>
{% endblock %}