{% extends "_base2.html" %}
{% block bodyContent %}
<div class="term">
	{% if message %}
		<p>{{message}}</p>
	{% endif %}
	<h2>Define a new term</h2>
	<form method="post" action="">
	
	<!-- New term added here -->
	
	<table>
		<tr>
			<td>Term:</td><td><input name="term" type="text" value=""  /></td>
		</tr>

		<tr>
			<td>Define:</td>
			<td><input name="definition" type="text" style="width: 450px" /></td>
		</tr>
	</table>
	<input name="Submit1" type="submit" value="Submit" />
</form>

</div><!-- end term -->

{% endblock %}