{% extends "_base2.html" %}
{% block bodyContent %}

{% if error %}
		<p>{{error}}</p>
{% else %}

<div class="term">

	<h2>{{term}} </h2>
	
	<h3></h3>
		<ol>
			{% for def in definitions %}
				<li>{{def}}</li>
			{% endfor %}
		</ol>
		
	{% if contributing_user %}	
	<p><a href="/contribute/definition/{{slug}}">Add a new definition for this term</a></p>
	{% else %}
	<p><a href="/join">Join us and define your own term.</a></p>
	{% endif %}
</div><!-- end term -->

<div class="statistics">
Currently, We have {{terms_count}} terms.
</div><!-- end statistics -->
{% endif %}

{% endblock %}