{% extends "_base2.html" %}
{% block bodyContent %}

{% if error %}
		<p>{{error}}</p>
{% else %}

<div class="term">

	<h2>{{term}}</h2>
	<div id="myslug" name="myslug" hidden>{{slug}}</div>
		<ol>
			{% for def in definitions %}
				<li>{{def}}</li>
			{% endfor %}
		</ol>
		
	{% if contributing_user %}	
	<input type="text" name="newdef" id="newdef" size="50"/> <br/>
	<button name="defBtn" id="defBtn" onclick="submitForm()">Add New Definition</button>
	{% else %}
	<p><a href="/join">Join us and define your {{term}}.</a></p>
	{% endif %}
</div><!-- end term -->

<div class="statistics">
Currently, We have {{terms_count}} terms.
</div><!-- end statistics -->
{% endif %}

{% endblock %}