{% extends "_base2.html" %}
{% block bodyContent %}

	{% if error %}
		{{error}}
	{% else %}
	<h1>Your Module Contributions</h1>

	
	{% if is_current_user %}
		<div class="box" id="contributions">
		<table id="contribox">
			<tr>
				<th class="boxtitle">Title</th>
				<th></th>
				<th>Version</th>
				<th>Update</th>
			</tr>
			{% for module in contributed_modules %}
			<tr>
				<td class="boxtitle"><a href="/modules/{{module.uid}}/{{module.version}}">{{module.title}}</a></td>
				<td></td>
				<td>{{module.version}}</td>
				<td>{{module.last_update.month}}/{{module.last_update.day}}/{{module.last_update.year}}</td>
			</tr>

			{% endfor %}
		</table>
		</div>
	  
	{% endif %}
		
	{% endif %}
{% endblock %}
